<div class="container ">
  <div class="row mt-4">
    <div class="col mb-4">
      <app-pokemon-card [pokemon]="pokemon" [palette]="palette" [specy]="specy" [statsDatas]="statsDatas"
        [shapesDatas]="shapesDatas" [pokemonLoading]="pokemonLoading" [specyLoading]="specyLoading">
      </app-pokemon-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="getRandom()">Get Random Pokemon</button>
    </div>
  </div>

</div>

<div class="spinner-border text-dark" role="status" *ngIf="naturesLoading">
  <span class="sr-only">Loading...</span>
</div>